<h1>Listing experiments</h1>

<table>
  <tr>
      <td>Subject</td>
      <td>Type</td>
      <td>Location</td>
      <td>Time</td>
      <td># of Waypoints</td>
      <td>Length</td>
      <td>Elevation</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>

<% 
odd = false
@experiments.each do |experiment| 
odd = !odd%>
  <tr <%= if odd then 'class="odd"' end %> >
    <td><%= experiment.subject_id %></td>
    <td><%= human_experiment_type(experiment.factor.type_id) %></td>
    <td><%= experiment.factor.location_id %></td>
    <td><%= experiment.time %>s</td>
    <td><%= experiment.num_waypoints %>
    <td><%= experiment.path_length %></td>
    <td><%= experiment.elevation_change %></td>
    <td><%= link_to 'Show', experiment %></td>
    <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
    <td><%= link_to 'Destroy', experiment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New experiment', new_experiment_path %>